<%- include('../layout/includes/head.ejs') %>
</head>
<body>
    <%- include('../layout/includes/navigation.ejs') %>
    <main>
        <h1>Chekout Shop</h1>
    </main>
<%- include('../layout/includes/end.ejs') %>